@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Roboto+Slab:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root{
    --green:#1a1637;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Black Ops One';
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    text-decoration: none;
    transition:all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    background: black;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

 .header-1{
    background:#4e4e4e89;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}


#websiteName{
    text-shadow:
1px 1px 2px rgba(0, 0,0, 1),
-1px 0px 2px rgba(0,0,0, 1),
-2px 0px 2px rgba(0,0,0, 1),
-3px 0px 2px rgba(0,0,0, 1),
-4px 0px 2px rgba(0,0,0, 1),
-5px 0px 2px rgba(0,0,0, 1),
-6px 0px 2px rgba(0,0,0, 1),
-7px 0px 2px rgba(0,0,0, 1),

-10px -2px 2px rgba(0,0,0, 1)
}


.logo-img{
    margin-left: -100px;
    height: 25vh;
}

 .search{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#ffffff;
    display:flex;
    align-items: center;
    border-radius: 10rem;
}

 .search input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

 .search label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}



.icons{
    font-size: 1rem;
}

#search-btn{
    display: none;
    font-size: 2.5rem;
    margin-right: 2rem;
    color:#fff;
}

footer{
    position: relative;
    width: 100%;
    background-color: #1a1637;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,  footer .menu li{
    list-style:none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
   transform:translateY(-10px) 
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1; 
 }

 footer h2{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
 }

 .nav-button{
    font-size:2rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top right, #235cd7, #00ffd0bb);
    color: white;
    height: 5vh;
    border-radius: 5rem;
    width: 12vw;
    justify-content: center;
 }

 .nav-btn{
    display: flex;
    justify-content: space-between;
    width: 30vw;
 }


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
    }

    .nav-button{
        font-size:1.5rem;
     }

}

@media (max-width:830px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    #search-btn{
        display: inline-block;
    }

   .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

     .search{
        position:absolute;
        top:-125%;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .search.active{
        top:115%;
    }

    .nav-button{
        font-size:1.5rem;
        width: 14vw;
     }
    
     .nav-btn{
        width: 30vw;
     }

}

@media (max-width:600px){
    .nav-button{
        font-size:1.25em;
     }
}

@media (max-width:680px){
    .logo{
        margin-left: 4%;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .header .header-1{
        padding:2.5rem;
    }
    .nav-button{
        font-size:1rem;
     }

}

@media (max-width:360px) {
    #search-btn {
        
        font-size: 2rem;
        margin-right: 1rem;
    }

    .nav-button{
        font-size:0.5rem;
     }
}